@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .printable-report, .printable-report * {
    visibility: visible;
  }
  .printable-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none;
  }
}